<form class="form-box">
  <app-question [formTarget]="formTarget" [elementType]="elementType" [questionNumber]="questionNumber"
    [questionText]="question"></app-question>
  <div *ngIf="!isLongAnswer" class="element-component">
    <mat-form-field class="mat-input-field">
      <input matInput placeholder="Enter your Answer" disabled="true" />
    </mat-form-field>
  </div>
  <div *ngIf="isLongAnswer" class="element-component long-answer-text" style="height: max-content !important">
    <mat-form-field class="mat-input-field" style="height: max-content !important">
      <textarea matInput placeholder="Enter your Answer" cdkTextareaAutosize disabled="true"></textarea>
    </mat-form-field>
  </div>
  <app-bottom-icons [questionNumber]="questionNumber" [isChecked]="isLongAnswer" (isCheckedChange)="isLongAnswer = $event"
    [buttonsRequired]="buttonsRequired"></app-bottom-icons>
</form>