<div *ngIf="!preview" class="flex-row flex-center" style="color: white">
  <mat-icon>insert_drive_file</mat-icon>
  <h4 id="form-title">{{ formTitle }}</h4>
</div>

<div *ngIf="preview" class="flex-row flex-center" style="color: white; cursor: pointer;" onclick="history.back()">
  <mat-icon>arrow_back</mat-icon>
  <h4 id="form-title">Back</h4>
</div>

<div *ngIf="!preview" class="right-icon">
  <a mat-icon-button href="/preview" style="color: white">
    <mat-icon>visibility</mat-icon>
  </a>
  <span> Preview </span>

  <app-snackbar [snackbarDuration]="snackbarDuration" [snackbarMessage]="actionMessage" [snackbarAction]="actionStatus"
    (click)="saveForm()">
    <mat-icon>save</mat-icon>
  </app-snackbar>
  <span> Save </span>
  <mat-slide-toggle matTooltip="Enable Drag & Drop" color="primary" style="margin-left: 15px"
    (change)="toggleDraggable($event.checked)">
  </mat-slide-toggle>
</div>