:host {
    display: block;
    width: 400px;
    background-color: white;
}

.input-element
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px 100px 0 100px;
    gap: 15px;
}