/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-center
{
    align-items: center;
    justify-content: center;
}

.add-btn
{
    background-color: #03787C !important; 
    color: white !important; 
}

.mat-input-field, .mat-input-field *
{
    height: 35px !important;
    padding: 0 !important;
    padding-left: 2px !important;
    width: 100%;
    display: block !important;
}