<form class="form-box">
  <app-question
    [formTarget]="formTarget"
    [elementType]="elementType"
    [questionNumber]="questionNumber"
    [questionText]="question"
  ></app-question>
  <ng-template #choiceRef>
    <div class="flex-row radio-element">
      <div class="{{ choiceType }}"></div>
      <div class="radio-element-component">
        <mat-form-field class="mat-input-field">
          <input matInput placeholder="Enter your option" disabled="false" />
        </mat-form-field>
      </div>
    </div>
  </ng-template>
  <ng-template #choiceOtherRef>
    <div class="flex-row radio-element">
      <div class="{{ choiceType }}"></div>
      <div class="radio-element-component">
        <mat-form-field class="mat-input-field">
          <input matInput placeholder="Other" disabled="true" />
        </mat-form-field>
      </div>
    </div>
  </ng-template>
  <div #choiceBoxRef class="flex-col choices" style="gap: 5px">
    <div *ngFor="let i of options" class="flex-row radio-element">
      <div class="{{ choiceType }}"></div>
      <div class="radio-element-component">
        <mat-form-field class="mat-input-field">
          <input matInput placeholder="Enter your option" disabled="false" />
        </mat-form-field>
      </div>
    </div>
  </div>
  <ng-container #choiceOtherContainerRef></ng-container>
  <button
    type="button"
    style="margin-top: 20px"
    class="radio-element-btn"
    mat-button
    (click)="addChoice('customOption')"
  >
    <mat-icon>add</mat-icon> Add option
  </button>
  <button
    *ngIf="!clicked"
    type="button"
    style="margin-top: 20px"
    class="radio-element-btn"
    mat-button
    (click)="addChoice('otherOption')"
  >
    Add "other" option
  </button>
  <app-bottom-icons
    [isChecked]="choiceType"
    (isCheckedChange)="choiceType = $event"
    [buttonsRequired]="buttonsRequired"
  ></app-bottom-icons>
</form>
